{{ ansible_managed|comment(decoration='# ') }}

[Unit]
Description=Prometheus {{ prometheus_exporter__name|replace('_', ' ') }}
After=network.target

[Service]
Type=simple
User={{ prometheus_exporter__service_user }}
Group={{ prometheus_exporter__service_group }}
Nice=-5
{% set _items = [] %}
{% if prometheus_exporter__service_cmdline is string %}
{%   set _ = _items.extend(prometheus_exporter__service_cmdline.split('\n')) %}
{% else %}
{%   set _ = _items.extend(prometheus_exporter__service_cmdline|flatten) %}
{% endif %}
ExecStart={{ prometheus_exporter__service_executable }} \
{% for line in _items %}
    {{ line }} {{ loop.last|ternary('', '\\') }}
{% endfor %}

SyslogIdentifier={{ prometheus_exporter__service_name }}
Restart=always

[Install]
WantedBy=multi-user.target
